.navbarContainer{
   height: 10rem;
   padding-right: 50px;
   padding-left: 50px;
   font-family: 'Inter';
color: #67645E;

}

.brandLogo{
    margin-right: 12px;
}

.menu{
    justify-content: end;
    padding-top: 5px;
}
