.navbarContainer{
   height: 10rem;
   font-family: 'Inter';
   color: #67645E;

}

.brandLogo{
    margin-right: 12px;
    margin-left: 38px;
}

.menu{
    justify-content: end;
    padding-top: 5px;
}

.menu ul li:last-of-type{
    margin-right: 32px;
}
