*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-link{
    font-family: 'Inter', sans-serif;
    font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 24px;
letter-spacing: 2.2px;
text-transform: uppercase;
}